<div class="wrapper">
    <!-- Sidebar  -->
    {{> navbar/nav-block}}

    <!-- Page Content  -->
    <div class="content" id="home">


        <h1 class="display-5"> Welcome to Dashboard</h1>

        <div class="line"></div>



        <div class="row">
            <div class="col align-self-center">
                <div class="row">
                    <div class="col-sm">
                        <div class="card text-white bg-info mb-3 analytics" id="grad1">

                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h3>2345</h3>
                                        <h6 class="mt-0 mb-1">Total Revenue</h6>

                                    </div>
                                    <h3 class="align-self-center">
                                        <i class="fas fa-chart-pie"></i>
                                    </h3>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-white bg-info mb-3 analytics" id="grad2">

                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h3>2345</h3>
                                        <h6 class="mt-0 mb-1">Total Revenue</h6>

                                    </div>
                                    <h3 class="align-self-center ml-2">
                                        <i class="fas fa-chart-pie"></i>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card text-white bg-info mb-3 analytics" id="grad3">

                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h3>2345</h3>
                                        <h6 class="mt-0 mb-1">Total Revenue</h6>

                                    </div>
                                    <h3 class="align-self-center">
                                        <i class="fas fa-chart-pie"></i>
                                    </h3>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-white bg-info mb-3 analytics" id="grad4">

                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h3>2345</h3>
                                        <h6 class="mt-0 mb-1">Total Revenue</h6>

                                    </div>
                                    <h3 class="align-self-center">
                                        <i class="fas fa-chart-pie"></i>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="mt-3" id="chartContainer1" style="height: 300px; width: 100%;"></div>
            </div>
        </div>

        {{!-- <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card text-white bg-info mb-3 analytics" id="grad1">

                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h3>2345</h3>
                                    <h6 class="mt-0 mb-1">Total Revenue</h6>

                                </div>
                                <h3 class="align-self-center">
                                    <i class="fas fa-chart-pie"></i>
                                </h3>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-info mb-3 analytics" id="grad2">

                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h3>2345</h3>
                                    <h6 class="mt-0 mb-1">Total Revenue</h6>

                                </div>
                                <h3 class="align-self-center ml-2">
                                    <i class="fas fa-chart-pie"></i>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card text-white bg-info mb-3 analytics" id="grad3">

                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h3>2345</h3>
                                    <h6 class="mt-0 mb-1">Total Revenue</h6>

                                </div>
                                <h3 class="align-self-center">
                                    <i class="fas fa-chart-pie"></i>
                                </h3>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-info mb-3 analytics" id="grad4">

                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h3>2345</h3>
                                    <h6 class="mt-0 mb-1">Total Revenue</h6>

                                </div>
                                <h3 class="align-self-center">
                                    <i class="fas fa-chart-pie"></i>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}

        {{!-- <div class="mt-3" id="chartContainer1" style="height: 370px; width: 100%;"></div> --}}


        <div class="line"></div>

        <div class="row">
            <div class="col">
                <div id="chartContainer" style="height: 370px; width:100%;"></div>
            </div>
            <div class="col">
                <div id="chartContainer3" style="height: 370px; width: 100%;"></div>
            </div>
        </div>



    </div>




</div>





<script>




    window.onload = function () {

        var chart1 = new CanvasJS.Chart("chartContainer1", {
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            title: {
                text: "Top Sales Helpers"
            },
            axisY: {
                title: "Goals(SHG)"
            },
            data: [{
                type: "column",
                showInLegend: true,
                legendMarkerColor: "grey",
                legendText: "SHG = Sales Helper Goals",
                dataPoints: [
                    { y: 300878, label: "Bob" },
                    { y: 266455, label: "Sandy" },
                    { y: 169709, label: "Carol" },
                    { y: 158400, label: "Trisha" },
                    { y: 142503, label: "Fabio" },
                    { y: 101500, label: "Patrick" },
                    { y: 97800, label: "Adein" },
                    { y: 80000, label: "Liana" }
                ]
            }]
        });
        chart1.render();

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Desktop Search Engine Market Share - 2016"
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "##0.00\"%\"",
                indexLabel: "{label} {y}",
                dataPoints: [
                    { y: 79.45, label: "Google" },
                    { y: 7.31, label: "Bing" },
                    { y: 7.06, label: "Baidu" },
                    { y: 4.91, label: "Yahoo" },
                    { y: 1.26, label: "Others" }
                ]
            }]
        });
        chart.render();

        var chart3 = new CanvasJS.Chart("chartContainer3", {
            animationEnabled: true,
            title: {
                text: "Monthly Expenses, 2016-17"
            },
            axisY: {
                includeZero: false,
                prefix: "$"
            },
            toolTip: {
                shared: true
            },
            legend: {
                fontSize: 13
            },
            data: [{
                type: "splineArea",
                showInLegend: true,
                name: "Salaries",
                yValueFormatString: "$#,##0",
                xValueFormatString: "MMM YYYY",
                dataPoints: [
                    { x: new Date(2016, 2), y: 30000 },
                    { x: new Date(2016, 3), y: 35000 },
                    { x: new Date(2016, 4), y: 30000 },
                    { x: new Date(2016, 5), y: 30400 },
                    { x: new Date(2016, 6), y: 20900 },
                    { x: new Date(2016, 7), y: 31000 },
                    { x: new Date(2016, 8), y: 30200 },
                    { x: new Date(2016, 9), y: 30000 },
                    { x: new Date(2016, 10), y: 33000 },
                    { x: new Date(2016, 11), y: 38000 },
                    { x: new Date(2017, 0), y: 38900 },
                    { x: new Date(2017, 1), y: 39000 }
                ]
            },
            {
                type: "splineArea",
                showInLegend: true,
                name: "Office Cost",
                yValueFormatString: "$#,##0",
                dataPoints: [
                    { x: new Date(2016, 2), y: 20100 },
                    { x: new Date(2016, 3), y: 16000 },
                    { x: new Date(2016, 4), y: 14000 },
                    { x: new Date(2016, 5), y: 18000 },
                    { x: new Date(2016, 6), y: 18000 },
                    { x: new Date(2016, 7), y: 21000 },
                    { x: new Date(2016, 8), y: 22000 },
                    { x: new Date(2016, 9), y: 25000 },
                    { x: new Date(2016, 10), y: 23000 },
                    { x: new Date(2016, 11), y: 25000 },
                    { x: new Date(2017, 0), y: 26000 },
                    { x: new Date(2017, 1), y: 25000 }
                ]
            },
            {
                type: "splineArea",
                showInLegend: true,
                name: "Entertainment",
                yValueFormatString: "$#,##0",
                dataPoints: [
                    { x: new Date(2016, 2), y: 10100 },
                    { x: new Date(2016, 3), y: 6000 },
                    { x: new Date(2016, 4), y: 3400 },
                    { x: new Date(2016, 5), y: 4000 },
                    { x: new Date(2016, 6), y: 9000 },
                    { x: new Date(2016, 7), y: 3900 },
                    { x: new Date(2016, 8), y: 4200 },
                    { x: new Date(2016, 9), y: 5000 },
                    { x: new Date(2016, 10), y: 14300 },
                    { x: new Date(2016, 11), y: 12300 },
                    { x: new Date(2017, 0), y: 8300 },
                    { x: new Date(2017, 1), y: 6300 }
                ]
            },
            {
                type: "splineArea",
                showInLegend: true,
                yValueFormatString: "$#,##0",
                name: "Maintenance",
                dataPoints: [
                    { x: new Date(2016, 2), y: 1700 },
                    { x: new Date(2016, 3), y: 2600 },
                    { x: new Date(2016, 4), y: 1000 },
                    { x: new Date(2016, 5), y: 1400 },
                    { x: new Date(2016, 6), y: 900 },
                    { x: new Date(2016, 7), y: 1000 },
                    { x: new Date(2016, 8), y: 1200 },
                    { x: new Date(2016, 9), y: 5000 },
                    { x: new Date(2016, 10), y: 1300 },
                    { x: new Date(2016, 11), y: 2300 },
                    { x: new Date(2017, 0), y: 2800 },
                    { x: new Date(2017, 1), y: 1300 }
                ]
            }]
        });
        chart3.render();

    }




</script>



<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>