


<ul class="list-group">
  <li class="list-group-item list-group-item-primary">Customer List</li>

  
<li class="list-group-item list-group-item-dark">This is a dark list group item</li>
  <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
  <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
  <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
  <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
  <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
  <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
</ul>