{{!-- <div class="row"> --}}
{{> navbar/nav-block}}
<!-- Toggle button -->
{{!-- <div class="col-1"> <button id="sidebarCollapse" type="button"
            class="btn btn-dark bg-dark rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small
                class="text-uppercase font-weight-bold">Toggle</small></button></div> --}}


{{!-- <div class="col-8">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                <h1>HOME</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore repellat aliquam eligendi ad, dicta
                dolor blanditiis, expedita, asperiores quibusdam a atque. Id possimus molestias magnam nostrum veniam
                natus aperiam distinctio libero, tempora ullam adipisci voluptatibus praesentium quam, vel molestiae
                minima error quidem. Necessitatibus esse at amet quisquam architecto deleniti aut error veniam quod ab
                delectus, odit facere cupiditate nisi obcaecati! Deleniti deserunt animi, dolorum nesciunt quam quas
                dolores saepe ratione, rem, itaque quasi. Est, error. Harum, consectetur saepe in labore illo expedita
                quis nesciunt repudiandae voluptatum assumenda incidunt, commodi hic rem. Molestiae perspiciatis nam
                dolorum voluptatem nobis atque et officia.
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <h1>CONTACT</h1>Lorem
                ipsum dolor sit amet consectetur, adipisicing elit. Autem explicabo ab, inventore excepturi molestiae id
                officia, atque quasi, sint doloribus fugit eum libero quaerat. Fuga provident minus, tempora
                perferendis, quasi maiores iste, asperiores illo odio reiciendis facilis quidem illum obcaecati impedit
                in debitis blanditiis itaque ipsam quis hic facere ex amet consequuntur repudiandae. Vel soluta
                asperiores laudantium obcaecati. Commodi voluptatem enim cum minus, quas quibusdam expedita dicta illo
                impedit voluptas iusto sed fugiat perferendis eaque, aliquid omnis ea libero dolor amet ducimus rem
                obcaecati quis distinctio quam. Nihil sequi, in, laudantium cupiditate perferendis id error ipsa quam
                veniam dolorum corrupti?
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <h1>MESSAGES</h1>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, deserunt molestiae reprehenderit
                voluptate ullam a hic tenetur pariatur dicta autem repudiandae cum nam ratione neque, cupiditate ut
                laudantium facilis delectus totam qui! Officia vel cum quis quidem expedita, placeat in consectetur
                nulla, adipisci explicabo pariatur sit veritatis, voluptas laudantium. Eos excepturi numquam debitis
                recusandae temporibus libero amet magni distinctio minus quo deserunt nulla rerum iusto quidem alias
                dolor deleniti, aliquam nostrum minima sapiente aspernatur velit nihil itaque? Voluptatibus nam voluptas
                impedit tempore numquam illum, distinctio blanditiis sapiente laudantium, ullam molestiae unde deserunt
                libero ducimus aliquid qui cumque consectetur eos. Quaerat.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ipsum eligendi minus ipsam
                expedita aliquid? Cumque voluptatem rem itaque amet quia libero doloribus consequuntur dolores saepe
                vitae, harum ut enim iusto quibusdam officiis asperiores! Veniam, fugit repudiandae maiores quia totam
                sunt molestias atque harum hic quod commodi labore accusantium tempora numquam eos modi necessitatibus
                esse? Vero omnis dolore laudantium reiciendis assumenda sequi dolorum architecto, harum a provident.
                Placeat, earum. Quod iusto sapiente earum dolore voluptatibus? Consequatur, hic adipisci dolore
                doloribus, facere inventore ab recusandae laborum nesciunt reiciendis ducimus eos mollitia ipsa itaque!
                At, iusto? Quasi temporibus deserunt voluptatibus fuga, mollitia libero at unde sed dicta, harum ipsa
                inventore ratione dolor tempore magni eos, asperiores praesentium perspiciatis quisquam numquam autem?
                Cupiditate incidunt illum quaerat facilis sed officiis fuga doloribus veritatis cum, nemo suscipit ut
                recusandae distinctio quis, sequi et iure consequuntur. Soluta, corrupti. Autem ipsa, et officiis dolor
                molestiae iusto quasi dicta cumque qui ducimus amet aliquid. Qui possimus nobis aperiam voluptate cum
                minima veniam magnam hic harum. In sunt recusandae molestiae commodi laudantium earum asperiores fuga
                deleniti ipsum neque omnis vitae incidunt laboriosam impedit ex ad vel enim, distinctio ipsam hic
                dolorem. Aspernatur, ipsum. Ipsum iusto repudiandae iure repellendus sit voluptatem architecto neque.
                Illum optio natus iste eaque totam ab, nemo veniam laudantium deserunt dicta maiores, repellat adipisci
                laborum odio blanditiis cum consectetur dolorum delectus officia officiis rerum quae. Rerum corrupti
                provident in quis maxime! Assumenda amet eum dolore quo at mollitia sunt consequatur, temporibus itaque
                ex laboriosam quia pariatur velit nulla maxime quos vero ea sint autem dolores ipsam totam nihil facilis
                cumque. Alias dolores earum dicta animi nostrum ut unde minus, quaerat mollitia ex dolorum ipsam rerum
                necessitatibus. Aspernatur laborum, tenetur amet reprehenderit, a enim blanditiis distinctio debitis,
                eos vero aut molestias sed repellendus consequatur consectetur sapiente cupiditate natus neque quo. Amet
                atque quasi necessitatibus consequatur dolor neque eius, incidunt modi nulla sint aspernatur molestias
                dolorum voluptas consectetur odit voluptatem! Eveniet unde fuga quam illum accusantium nobis asperiores
                porro. Doloremque aperiam culpa nemo quod non, dolorum atque? Consectetur obcaecati ipsam ea omnis ut!
                Molestias, sit doloribus, architecto praesentium impedit rerum laboriosam alias ad sed in id, quos ipsam
                eos eveniet! Nihil vitae dicta neque adipisci mollitia fugiat quasi asperiores impedit aut quidem
                praesentium debitis sequi, a dolore assumenda, eos voluptatibus culpa dignissimos? Inventore illo id
                quam asperiores rerum maiores blanditiis voluptates obcaecati, iure accusamus hic incidunt assumenda
                deserunt, nemo, recusandae optio sit. Aut magni voluptatum culpa dignissimos libero tenetur
                necessitatibus deserunt voluptas rem, optio itaque, error delectus, incidunt totam exercitationem esse
                facere dolores ea aliquam perspiciatis omnis. Cumque delectus voluptatibus sequi impedit, ut tempore?
                Consequuntur quasi nobis quidem ullam similique cumque quia, ad itaque quas excepturi molestiae
                reiciendis enim reprehenderit obcaecati odio alias culpa beatae expedita et eius! Eos hic aliquam
                blanditiis? Voluptatum ipsa nostrum repudiandae sit nesciunt laborum placeat pariatur porro quod
                officiis? Optio deleniti ipsum consequatur consequuntur natus obcaecati dolores et sed laboriosam minima
                vel reiciendis officiis eaque alias numquam voluptates, magni deserunt laudantium molestiae iusto
                assumenda incidunt cupiditate est labore? Mollitia temporibus accusantium, necessitatibus id inventore
                labore quod libero officia corrupti ipsum eaque voluptates, aperiam architecto aut alias, excepturi
                repellendus dignissimos. Quibusdam saepe nihil unde id ipsam, optio quis labore ad deserunt quaerat
                numquam est tenetur consequuntur modi facere quod fuga, culpa nisi autem aut! Non nesciunt voluptate
                tempore aliquid harum necessitatibus dolor a excepturi. Nulla reprehenderit aspernatur sint nostrum
                enim, eveniet tenetur corrupti quidem eum magni? Rem eaque explicabo nobis, maxime nesciunt atque facere
                est, nemo voluptatum, hic non quod tempore voluptas? Ex dolorem excepturi assumenda nemo blanditiis,
                nihil quibusdam quo iste ut voluptates harum officia facere perferendis ratione explicabo pariatur vero
                nam fugit nisi culpa doloribus! Nobis repellat, sit dolore facilis ex praesentium quae minus, ea
                possimus quia saepe deserunt odio harum. Inventore error aliquam, modi quam doloribus, vero officia
                nobis dolore quos molestias debitis at quod atque, exercitationem eum? Vero excepturi, maiores obcaecati
                pariatur cum temporibus, ullam beatae quidem quas laboriosam amet ad, reprehenderit dolorum recusandae
                repellat eos expedita voluptate sint dicta ipsum saepe perferendis exercitationem. Quae nemo id,
                officiis aliquid corrupti atque nisi error mollitia fuga ipsum temporibus quam repellat ex, est ea
                veniam minima. Culpa officia adipisci delectus quidem minima expedita voluptas voluptatem sequi quos!
                Animi eligendi natus eveniet, ratione at praesentium aliquam earum modi esse quasi similique blanditiis,
                voluptatem minus quidem qui incidunt! Quis natus velit adipisci aspernatur nemo. Eligendi sit blanditiis
                ea accusantium itaque nemo nulla atque veniam sapiente dolore consequatur corporis assumenda similique
                quaerat laboriosam, necessitatibus aliquid ipsam? Magni, quas quod ipsum perferendis numquam ea nesciunt
                fugiat quaerat, tempora, maiores modi autem saepe aliquid? Dolore suscipit maiores delectus vel
                laudantium nisi necessitatibus consectetur repudiandae, hic mollitia rem sit reiciendis qui molestias
                asperiores natus perferendis iste cupiditate exercitationem distinctio dignissimos accusamus architecto!
                Odit vel, quo nulla amet ullam sit dolorem tempore velit? Beatae, similique. Quia doloribus dolor quae
                quod sunt eaque deleniti, praesentium iure asperiores culpa vel ipsam aut nulla, reprehenderit possimus
                dolorum doloremque. Fugiat veritatis reprehenderit amet dolore earum perspiciatis sint voluptatum
                temporibus expedita nemo velit facilis repellendus consectetur quo est explicabo labore minima vero
                doloribus sunt accusamus, similique molestias. Animi magni numquam sit velit praesentium officia
                obcaecati nam explicabo totam natus. Culpa blanditiis quidem, itaque amet voluptate qui enim quo.
                Perferendis dicta eaque aspernatur ab adipisci nihil consequatur quaerat voluptates culpa itaque sed
                ducimus, temporibus dolorum vitae optio? Nesciunt nulla quos excepturi veritatis, quibusdam officiis,
                nam dicta velit laudantium eum, placeat sapiente harum officia ratione provident exercitationem at.
                Consequuntur accusamus quisquam nemo hic voluptas voluptate mollitia dolores aut quod, quae
                necessitatibus cumque exercitationem veritatis similique, beatae sed ullam corrupti enim eius molestiae.
                Voluptate, vero quam? In quis provident dolores vero, nostrum placeat eaque nihil necessitatibus
                officiis. Nobis nemo, magni omnis delectus, iure voluptates quo maxime animi saepe id laboriosam nostrum
                nisi quae amet pariatur exercitationem debitis assumenda. Numquam nisi nobis aliquid mollitia illo
                asperiores iste molestias, cum, necessitatibus veritatis animi voluptate similique praesentium quibusdam
                minus deleniti repellat aperiam suscipit. Architecto, repellat! Cupiditate reprehenderit illum nisi
                ullam.
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <h1>SETTINGS</h1>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae sequi facere rem similique nesciunt? Qui
                similique provident magni neque a, modi doloribus sunt vero aliquid in ullam corrupti tempora et
                assumenda eveniet commodi porro cum excepturi? Officiis tempora ipsa eveniet adipisci neque, fugit,
                minima cupiditate beatae magni fuga earum asperiores alias excepturi explicabo dignissimos! Natus unde
                sequi quaerat. Enim impedit, veritatis similique accusamus aperiam, aut sequi voluptatem dolores
                repellat magni molestiae maiores libero ad quam sapiente provident natus officia voluptates harum qui.
                Repellendus, enim omnis! Ratione autem voluptates, numquam hic suscipit aut dicta. Animi a qui officia,
                sed sequi amet.
            </div>
        </div>
    </div>
</div> --}}



<!-- Page content holder -->
<div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-dark bg-dark rounded-pill shadow-sm px-4 mb-4"><i
            class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>

    <!-- Demo content -->
    <h2 class="display-4 text-white">Bootstrap vertical nav</h2>
    <p class="lead text-white mb-0">Build a fixed sidebar using Bootstrap 4 vertical navigation and media objects.</p>
    <div class="separator"></div>

    <br>



    <div class="wrapper">

        <div class="container" id="home">
            <h1 class="text-white display-2">DASHBOARD</h1>
            <div class="row text-white">

                <div class="col-lg-7">



                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor.
                    </p>
                    <div class="bg-dark p-5 rounded my-5 shadow-sm">
                        <p class="lead font-italic mb-0 text-muted">"Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id
                            est laborum."</p>
                    </div>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor.
                    </p>
                </div>
                <div class="col-lg-5" id="item">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>


                </div>
            </div>
        </div>
        <!-- 2nd section-->
        <div class="container" id="contact" style="display: none;">
            <h1 class="text-white display-2">CONTACTS</h1>
            <div class="row text-white">
                <div class="col-lg-7">



                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor.
                    </p>
                    <div class="bg-dark p-5 rounded my-5 shadow-sm">
                        <p class="lead font-italic mb-0 text-muted">"Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id
                            est laborum."</p>
                    </div>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor.
                    </p>
                </div>
                <div class="col-lg-5" id="item">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>


                </div>
            </div>
        </div>
        <!--3rd section-->
        <div class="container" id="ticket" style="display: none;">
            <h1 class="text-white display-2">TICKETS</h1>
            <div class="row text-white">

                <div class="col-lg-7">



                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor.
                    </p>
                    <div class="bg-dark p-5 rounded my-5 shadow-sm">
                        <p class="lead font-italic mb-0 text-muted">"Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id
                            est laborum."</p>
                    </div>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor.
                    </p>
                </div>
                <div class="col-lg-5" id="item">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>


                </div>
            </div>
        </div>
        <!--4th section-->
        <div class="container" id="settings" style="display: none;">
            <h1 class="text-white display-2">SETTINGS</h1>
            <div class="row text-white">

                <div class="col-lg-7">



                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor.
                    </p>
                    <div class="bg-dark p-5 rounded my-5 shadow-sm">
                        <p class="lead font-italic mb-0 text-muted">"Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id
                            est laborum."</p>
                    </div>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor.
                    </p>
                </div>
                <div class="col-lg-5" id="item">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>


                </div>
            </div>
        </div>


    </div>


</div>