<h2 class="display-4">Client List</h2>



<div class="clientlist">
    <div class="container-tableclient">
        <div class="wrap-tableclient">
            <div class="tableclient m-b-110">
                <div class="tableclient-head">
                    <div class="active-purple-3 active-purple-4 mb-4">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </div>
                    <table>
                        <thead>

                            <tr class="rowclient head">
                              
                                <th class="cellclient column1">Name </th>
                                <th class="cellclient column2">Email</th>
                                <th class="cellclient column3">Phone Number</th>
                                <th class="cellclient column4">Sales Amount</th>
                                <th class="cellclient column5">Other...</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="tableclient-body js-pscroll">
                    <table>
                        <tbody>
                            <tr class="rowclient body">
                                
                       
                                <td class="cellclient column1">Placeholder</td>
                                <td class="cellclient column2">Example@example.com</td>
                                <td class="cellclient column3">8675309</td>
                                <td class="cellclient column4">5 million</td>
                                <td class="cellclient column5">example</td>
                            </tr>
                            <tr class="rowclient body">
                                      
                                <td class="cellclient column1">Placeholder</td>
                                <td class="cellclient column2">Example@example.com</td>
                                <td class="cellclient column3">8675309</td>
                                <td class="cellclient column4">5 million</td>
                                <td class="cellclient column5">example</td>
                            </tr>
                            <tr class="rowclient body">
                                <td class="cellclient column1">Placeholder</td>
                                <td class="cellclient column2">Example@example.com</td>
                                <td class="cellclient column3">8675309</td>
                                <td class="cellclient column4">5 million</td>
                                <td class="cellclient column5">example</td>
                            </tr>
                            <tr class="rowclient body">
                                <td class="cellclient column1">Placeholder</td>
                                <td class="cellclient column2">Example@example.com</td>
                                <td class="cellclient column3">8675309</td>
                                <td class="cellclient column4">5 million</td>
                                <td class="cellclient column5">example</td>
                            </tr>
                            <tr class="rowclient body">
                                <td class="cellclient column1">Placeholder</td>
                                <td class="cellclient column2">Example@example.com</td>
                                <td class="cellclient column3">8675309</td>
                                <td class="cellclient column4">5 million</td>
                                <td class="cellclient column5">example</td>
                            </tr>
                            <tr class="rowclient body">
                                <td class="cellclient column1">Placeholder</td>
                                <td class="cellclient column2">Example@example.com</td>
                                <td class="cellclient column3">8675309</td>
                                <td class="cellclient column4">5 million</td>
                                <td class="cellclient column5">example</td>
                            </tr>
                            <tr class="rowclient body">
                                <td class="cellclient column1">Placeholder</td>
                                <td class="cellclient column2">Example@example.com</td>
                                <td class="cellclient column3">8675309</td>
                                <td class="cellclient column4">5 million</td>
                                <td class="cellclient column5">example</td>
                            </tr>
                            <tr class="rowclient body">
                                <td class="cellclient column1">Placeholder</td>
                                <td class="cellclient column2">Example@example.com</td>
                                <td class="cellclient column3">8675309</td>
                                <td class="cellclient column4">5 million</td>
                                <td class="cellclient column5">example</td>
                            </tr>
                            <tr class="rowclient body">
                                <td class="cellclient column1">Placeholder</td>
                                <td class="cellclient column2">Example@example.com</td>
                                <td class="cellclient column3">8675309</td>
                                <td class="cellclient column4">5 million</td>
                                <td class="cellclient column5">example</td>
                            </tr>
                            <tr class="rowclient body">
                                <td class="cellclient column1">Placeholder</td>
                                <td class="cellclient column2">Example@example.com</td>
                                <td class="cellclient column3">8675309</td>
                                <td class="cellclient column4">5 million</td>
                                <td class="cellclient column5">example</td>
                            </tr>
                            <tr class="rowclient body">
                                <td class="cellclient column1">Placeholder</td>
                                <td class="cellclient column2">Example@example.com</td>
                                <td class="cellclient column3">8675309</td>
                                <td class="cellclient column4">5 million</td>
                                <td class="cellclient column5">example</td>
                            </tr>
                            <tr class="rowclient body">
                                <td class="cellclient column1">Placeholder</td>
                                <td class="cellclient column2">Example@example.com</td>
                                <td class="cellclient column3">8675309</td>
                                <td class="cellclient column4">5 million</td>
                                <td class="cellclient column5">example</td>
                            </tr>
                            <tr class="rowclient body">
                                <td class="cellclient column1">Placeholder</td>
                                <td class="cellclient column2">Example@example.com</td>
                                <td class="cellclient column3">8675309</td>
                                <td class="cellclient column4">5 million</td>
                                <td class="cellclient column5">example</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
{{!-- <div id="login">
    <h2 class="text-center text-dark pt-5" id="head">Welcome back!
        <small class="text-muted" id="head1">Please sign in.</small></h2>
    <div class="container">
         <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-dark"><u>Login</u></h3>
                        <div class="form-group">
                            <label for="username" class="text-dark">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-dark">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>
                         {{!-- <div class="form-group" id="remember">
                            <label for="remember-me" class="text-dark"><span>Remember me</span> <span><input
                                        id="remember-me" name="remember-me" type="checkbox"></span></label><br> --}}
<input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
</form>
</div>
</div>
</div>
</div>
</div> --}}
