<div class="container">
    <h1>File Upload</h1>
    {{msg}}
    <form action="/upload" , method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlFile1">File input</label>
            <input type="file" name="myImage" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{#if file}}
    <img src={{file}} class="img-fluid">
    {{/if}}
    {{#unless file}}
    <img src="/assets/default.jpg" class="img-fluid">
    {{/unless}}
    <a href="/"><button type="button">Dashboard</button></a>

</div>