<!-- Sidebar  -->

<nav id="sidebar">

    <div class="logo text-center">
        <a href="#">
            <img src="assets/images/LogoMakr_1WwSOv.png" width="40" height="40" alt="">

            <div class="ml-2" id="brandName">
                impact x
            </div>
        </a>
    </div>


    <div class="sidebar-header text-center">
        <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png"
            alt="" id="profileImage">
        <h3>John Smith</h3>
        <div id="jobTitle">Sales Representative</div>
        <strong>JS </strong>

    </div>

    <ul class="list-unstyled components">

        <li>
            <a href="#home" id="dashBtn">
                <i class="fas fa-th-large"></i>
                <span class="btnName">Dashboard</span>
            </a>

        </li>
        <li>
            <a href="#contact" id="contactBtn">
                <i class="fas fa-address-card"></i>
                <span class="btnName">Contact</span>
            </a>
            </a>
        </li>
        <li>
            <a href="#ticket" id="ticketBtn">
                <i class="fas fa-inbox"></i>
                <span class="btnName">Tickets</span>
            </a>
            </a>
        </li>
        <li>
            <a href="#settings" id="settingBtn">
                <i class="fas fa-cog"></i>
                <span class="btnName">Settings</span>
            </a>
            </a>
        </li>
    </ul>
    <div class="line"></div>
    <ul class="list-unstyled components">
        <li>
            <a href="#">
                <i class="fas fa-sign-out-alt"></i>
                Sign Out
            </a>
        </li>
    </ul>
</nav>