<!-- Sidebar  -->

<nav id="sidebar">

    <div class="logo text-center py-3">

        <div class="media">
            <div class="media-body">
                <img src="assets/images/LogoMakr_1WwSOv.png" width="40" height="40" alt="">

                <div id="brandName">
                    <h4 class="mt-0">Impact X</h4>
                </div>


            </div>

        </div>

    </div>


    <div class="sidebar-header text-center">
        <img src={{img}} alt="Profile Image" id="profileImage">



        <h3>{{currentUser}}</h3>
        <div id="jobTitle">Customer Support Specialist</div>
        <strong>{{currentUser.[0]}} </strong>

    </div>

    <ul class="list-unstyled components text-center">

        <li>
            <a href="/" id="dashBtn">
                <i class="fas fa-th-large"></i>
                <span class="btnName">Dashboard</span>
            </a>

        </li>
        <li>
            <a href="/contacts" id="contactBtn">
                <i class="fas fa-address-card"></i>
                <span class="btnName">Contacts</span>
            </a>
            </a>
        </li>
        <li>
            <a href="/ticket" id="ticketBtn">
                <i class="fas fa-inbox"></i>
                <span class="btnName">Tickets</span>
            </a>
            </a>
        </li>
        <li>
            <a href="/settings" id="settingBtn">
                <i class="fas fa-cog"></i>
                <span class="btnName">Settings</span>
            </a>
            </a>
        </li>
    </ul>
    <div class="line"></div>
    <ul class="list-unstyled components text-center">
        <li>
            <a href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="btnName">Sign Out</span>
            </a>
        </li>
    </ul>
</nav>


<script>







</script>