<!-- Sidebar  -->

<nav id="sidebar">

    <div class="logo text-center">
        {{!-- <a href="#"> --}}
        <div id="brandName">
            Impact X
        </div>
        <div> <img src="assets/images/LogoMakr_1WwSOv.png" width="40" height="40" alt=""></div>



        {{!-- </a> --}}
    </div>


    <div class="sidebar-header text-center">
        <img src={{img}} alt="" id="profileImage">



        <h3>{{currentUser}}</h3>
        <div id="jobTitle">Support Technician</div>
        <strong>{{currentUser.[0]}} </strong>

    </div>

    <ul class="list-unstyled components">

        <li>
            <a href="/" id="dashBtn">
                <i class="fas fa-th-large"></i>
                <span class="btnName">Dashboard</span>
            </a>

        </li>
        <li>
            <a href="#contact" id="contactBtn">
                <i class="fas fa-address-card"></i>
                <span class="btnName">Contact</span>
            </a>
            </a>
        </li>
        <li>
            <a href="/ticket" id="ticketBtn">
                <i class="fas fa-inbox"></i>
                <span class="btnName">Tickets</span>
            </a>
            </a>
        </li>
        <li>
            <a href="/settings" id="settingBtn">
                <i class="fas fa-cog"></i>
                <span class="btnName">Settings</span>
            </a>
            </a>
        </li>
    </ul>
    <div class="line"></div>
    <ul class="list-unstyled components">
        <li>
            <a href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="btnName">Sign Out</span>
            </a>
        </li>
    </ul>
</nav>