<!-- Sidebar  -->

<nav id="sidebar" class="text-center">
    <div class="sidebar-header">
        <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png"
            alt="" id="profileImage">
        <h3>John Smith</h3>
        <strong>JS </strong>
    </div>

    <ul class="list-unstyled components">

        <li>
            <a href="#">
                <i class="fas fa-briefcase"></i>
                About
            </a>

        </li>
        <li>
            <a href="#">
                <i class="fas fa-image"></i>
                Portfolio
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-question"></i>
                FAQ
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-paper-plane"></i>
                Contact
            </a>
        </li>
    </ul>
</nav>