<div class="modal fade reply-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content create-modal" style="border: none;">
            <div class="modal-header text-light" style="background-color:#7a6eb8">
                <h1 class="modal-title" id="exampleModalLabel">Reply</h1>
                <button type="button" class="close close_NewCus" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group" id="ticketTextArea">
                            <textarea class="form-control" style="min-height: 113px;"></textarea>
                            <br>
                            <button class="btn btn-info" style="float:right; background: #7a6eb8"><i
                                    class="far fa-plus-square"></i>Post</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>



    </div>
</div>
</div>